<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ptp.launch.parallelLaunch">
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.12038" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.12059" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.12090" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.12118" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.12135" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.12226" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.12298" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.12399" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.12494" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.12573" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.12631" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.12656" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.12675" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.12788" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.12806" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.12940" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.13042" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.13066" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.13227" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.13273" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.13288" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.13457" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.13555" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.13663" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.13677" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.13691" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.13715" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.13733" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.13748" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.13764" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.13795" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.13853" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.13931" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.14173" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.14241" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.14317" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.14490" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.14714" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.14763" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.14822" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.15790" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.15805" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.15848" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.15917" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.15938" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.15988" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.16006" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.16028" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.16065" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.16087" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.16114" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.16129" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.16148" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.16165" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.16303" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.16346" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.16389" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.6060" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.6604" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.7999" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.8021" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.8084" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.8104" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.8123" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.8138" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.8155" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.8175" value="RUNNING"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.control.address" value="localhost"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.control.user.name" value="max"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.control.working.dir" value="/home/max"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.current_controller" value="Basic.Options"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.debuggerId" value="org.eclipse.ptp.debug.sdm"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.directory" value="/home/max/workspace/mpi_assign/hello/Debug"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.disabled" value="true"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.enabled_Advanced.Options" value="extraArgs"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.enabled_Basic.Options" value="hostFileOption hostListOption mpiNumberOfProcesses"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.executableDirectory" value="/home/max/workspace/mpi_assign/matrix/Debug"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.executablePath" value="/home/max/workspace/mpi_assign/matrix/Debug/matrix"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.extraArgs" value=""/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.hostFile" value=""/>
<booleanAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.hostFileOption" value="false"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.hostList" value=""/>
<booleanAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.hostListOption" value="false"/>
<booleanAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.initialized" value="true"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.invalid_Advanced.Options" value="script_path"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.invalid_Basic.Options" value="hostFile hostList script_path"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.launchMode" value="run"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.local_prefix" value=""/>
<intAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.mpiNumberOfProcesses" value="32"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.progArgs" value="input2x512x512Doubles"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.ptpDirectory" value="/home/max/.eclipsesettings"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.valid_Advanced.Options" value="12038 6060 6604 7999 8021 8084 8104 8123 8138 8155 8175 control.address control.user.name control.working.dir current_controller disabled enabled_Advanced.Options executableDirectory executablePath extraArgs hostFile hostFileOption hostList hostListOption invalid_Advanced.Options launchMode local_prefix mpiNumberOfProcesses pmpi_minor_version progArgs ptpDirectory valid_Advanced.Options visible_Advanced.Options working.directory"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.valid_Basic.Options" value="13457 13555 13663 13677 13691 13715 13733 13748 13764 13795 13853 13931 14173 14241 14317 14490 14714 14763 14822 15790 15805 15848 15917 15938 15988 16006 16028 16065 16087 16114 16129 16148 16165 16303 16346 16389 control.address control.user.name control.working.dir current_controller debuggerId disabled enabled_Basic.Options executableDirectory executablePath extraArgs hostFileOption hostListOption invalid_Basic.Options launchMode local_prefix mpiNumberOfProcesses pmpi_minor_version progArgs ptpDirectory valid_Basic.Options visible_Basic.Options working.directory"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.visible_Advanced.Options" value="extraArgs"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.visible_Basic.Options" value="hostFile hostFileOption hostList hostListOption mpiNumberOfProcesses"/>
<stringAttribute key="88c952ff-3dee-3891-b1f3-d301c2a96259.working.directory" value="/home/max"/>
<stringAttribute key="org.eclipse.debug.core.SOURCE_PATH_COMPUTER_ID" value="org.eclipse.ptp.debug.core.sourcePathComputer"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="/home/max/output.par"/>
<stringAttribute key="org.eclipse.ptp.launch.ARGUMENT_ATTR" value="input2x512x512Doubles"/>
<booleanAttribute key="org.eclipse.ptp.launch.ATTR_AUTO_RUN_COMMAND" value="true"/>
<booleanAttribute key="org.eclipse.ptp.launch.ATTR_CONSOLE" value="true"/>
<booleanAttribute key="org.eclipse.ptp.launch.ATTR_COPY_EXECUTABLE_FROM_LOCAL" value="false"/>
<stringAttribute key="org.eclipse.ptp.launch.ATTR_DEBUGGER_HOST" value="localhost"/>
<stringAttribute key="org.eclipse.ptp.launch.ATTR_REMOTE_EXECUTABLE_PATH" value="/home/max/workspace/mpi_assign/matrix/Debug/matrix"/>
<booleanAttribute key="org.eclipse.ptp.launch.ATTR_SYNC_AFTER" value="false"/>
<booleanAttribute key="org.eclipse.ptp.launch.ATTR_SYNC_BEFORE" value="false"/>
<listAttribute key="org.eclipse.ptp.launch.ATTR_SYNC_RULES"/>
<stringAttribute key="org.eclipse.ptp.launch.CONFIGURATION_NAME" value="IBM Platform MPI"/>
<stringAttribute key="org.eclipse.ptp.launch.CONNECTION_NAME" value="Local"/>
<stringAttribute key="org.eclipse.ptp.launch.DEBUGGER_ID" value="org.eclipse.ptp.debug.sdm"/>
<stringAttribute key="org.eclipse.ptp.launch.DEBUGGER_SDM_BACKEND" value="gdb-mi"/>
<stringAttribute key="org.eclipse.ptp.launch.DEBUGGER_SDM_EXECUTABLE" value="/usr/local/bin/sdm"/>
<stringAttribute key="org.eclipse.ptp.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.ptp.launch.DEBUGGER_USE_BUILTIN_SDM" value="true"/>
<stringAttribute key="org.eclipse.ptp.launch.PROJECT_ATTR" value="matrix"/>
<stringAttribute key="org.eclipse.ptp.launch.REMOTE_SERVICES_ID" value="org.eclipse.ptp.remote.LocalServices"/>
<stringAttribute key="org.eclipse.ptp.launch.RESOURCE_MANAGER_NAME" value="88c952ff-3dee-3891-b1f3-d301c2a96259"/>
<booleanAttribute key="org.eclipse.ptp.launch.STOP_IN_MAIN" value="true"/>
</launchConfiguration>
